<?xml version="1.0"?>
<launch>

     <!-- Robot pose-->
     <arg name="x" default="0"/>
     <arg name="y" default="-1"/>
     <arg name="z" default="0.5"/>
     <arg name="roll" default="0"/>
     <arg name="pitch" default="0"/>
     <arg name="yaw" default="1.5708"/>
     <arg name="name" default="Brain_Tricycle"/>

     <!-- Launch configuration settings -->
     <arg name="use_joy" default="true"/>
     <arg name="use_xbox_joy" default="false"/>
     <arg name="dev_joy" default="/dev/input/js4"/>
     <arg name="bot_model" default="brain_tryke.urdf.xacro" />

     <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

	<group if="$(arg use_joy)">
	     <!-- Load joystick nodes for manual control -->
	     <node pkg="joy" type="joy_node" name="joy_node">
	          <param name="dev" value="$(arg dev_joy)"/>
	     </node>

		<!-- Xbox -->
		<group if="$(arg use_xbox_joy)">
	          <node pkg="teleop_twist_joy" type="teleop_node" name="joy_controller_node">
				<remap from="cmd_vel" to="$(arg name)/cmd_vel"/>
				<param name="enable_button" value="7"/>
	               <param name="axis_angular" value="2"/>
	               <param name="scale_linear" value="1"/>
	               <param name="scale_angular" value="1.5"/>
	          </node>
	     </group>
		<!-- PS3 -->
	     <group unless="$(arg use_xbox_joy)">
			<node pkg="teleop_twist_joy" type="teleop_node" name="joy_controller_node">
				<remap from="cmd_vel" to="$(arg name)/cmd_vel"/>
                    <param name="enable_button" value="11"/>
				<param name="axis_angular" value="2"/>
				<param name="scale_linear" value="1"/>
				<param name="scale_angular" value="3"/>
			</node>
	     </group>
	</group>
</launch>
