<?xml version="1.0"?>
<launch>

     <!-- Launch configuration settings -->
	<arg name="name" default="tricycle_base"/>
	<arg name="world" default="basic.world"/>

     <arg name="use_joy" default="true"/>
     <arg name="use_xbox_joy" default="false"/>
     <arg name="dev_joy" default="/dev/input/js1"/>

	<include file="$(find tricycle_description)/launch/world_template.launch">
          <arg name="world_name" value="$(find tricycle_description)/worlds/$(arg world)"/>
          <arg name="paused" value="false"/>
          <arg name="gui" value="true"/>
     </include>

	<group if="$(arg use_joy)">
	     <!-- Load joystick nodes for manual control -->
	     <node pkg="joy" type="joy_node" name="joy_node">
	          <param name="dev" value="$(arg dev_joy)"/>
	     </node>

		<!-- Xbox -->
		<group if="$(arg use_xbox_joy)">
	          <node pkg="teleop_twist_joy" type="teleop_node" name="joy_controller_node">
				<remap from="cmd_vel" to="$(arg name)/cmd_vel"/>
				<param name="enable_button" value="7"/>
	               <param name="axis_angular" value="2"/>
	               <param name="scale_linear" value="1"/>
	               <param name="scale_angular" value="1.5"/>
	          </node>
	     </group>
		<!-- PS3 -->
	     <group unless="$(arg use_xbox_joy)">
			<node pkg="teleop_twist_joy" type="teleop_node" name="joy_controller_node">
				<remap from="cmd_vel" to="$(arg name)/cmd_vel"/>
                    <param name="enable_button" value="5"/>
				<param name="axis_angular" value="2"/>
				<param name="scale_linear" value="1"/>
				<param name="scale_angular" value="3"/>
			</node>
	     </group>
	</group>
</launch>
